# LLM配置
COMPLETION_API_KEY=
COMPLETION_API_BASE_URL=
COMPLETION_MODEL=
COMPLETION_MAX_TOKEN=4096
COMPLETION_ENABLE_THINKING=False
COMPLETION_TEMPERATURE=0.1

# 知识库配置
KNOWLEDGE_BASE_URI=https://aix.toone.com.cn/v1
KNOWLEDGE_API_KEY=
KNOWLEDGE_DATASET=
KNOWLEDGE_TOP_K=10

# 图数据库配置
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=

# 是否启用API密钥
ADMIN_API_KEY_ENABLE=True
ADMIN_API_KEY=